/WebApplication1/.vs/WebApplication1/DesignTimeBuild
/WebApplication1/.vs/WebApplication1/config
/WebApplication1/.vs/WebApplication1/v16
/WebApplication1/.vs/WebApplication1/v16/.suo

netcoreapp3.1
netstandard2.0
obj
